{% load staticfiles %}{% load i18n %}{% load bootstrap3 %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
<head>
    <meta charset="utf-8">
    <title>{% trans "Banktest: Test for bank system" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Juanmi Taboada">
    <link rel="icon" type="image/x-icon" href="{% static "base/img/favicon.ico" %}">
    {% block extra_head %}{% endblock %}

    {# Load CSS libraries #}
    {% bootstrap_css %}
    {% block extra_css %}{% endblock %}

</head>
<body>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {# BODY #}
    {% block prebody %}{% endblock %}
    {% block body %}{% endblock %}
    {% block postbody %}{% endblock %}

    {# Load JS libraries #}
    {% if DEBUG %}
        <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    {% else %}
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    {% endif %}
    {% bootstrap_javascript %}
    {% block extra_js %}{% endblock %}
</body>
</html>
